{% extends 'bbricks/base.html' %}

{% block sidebar %}
    <a class="nav-link" href="/bbricks/loggedin">Cancel</a>
{% endblock %}

{% block content %}

    <form action="/bbricks/buy/" method="post">{% csrf_token %}

        <label for="posted_for">Posted For: </label>
        <select name="posted_for" required id="posted_for">
            <option value selected>---------</option>
            <option value="sale">Sale</option>
            <option value="rent">Rent</option>
            <option value="pg">Paying Guest</option>
        </select>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

{% endblock %}