{% extends 'bbricks/base.html' %}

{% block sidebar %}
    <a class="nav-link" href="/bbricks/loggedin">Cancel</a>
{% endblock %}

{% block content %}

    <form action="/bbricks/buy_rent/" method="post">{% csrf_token %}

        <label for="city">City: </label>
        <input type="text" name="city" required id="city">

        <input type="radio" name="rent_pg" value="rent" checked> Rent<br>
        <input type="radio" name="rent_pg" value="pg"> PG<br>

        <label>Rent Range: </label>
        <label for="max">Maximum: </label>
        <input type="number" name="max" required id="max" value="1000000">

        <label for="min">Minimum: </label>
        <input type="number" name="min" required id="min" value="0">

        <label for="bedrooms">Bedrooms: </label>
        <input type="number" name="bedrooms" required id="bedrooms" value="0">


        <label for="posted_by">Posted By: </label>
        <select name="posted_by" required id="posted_by">
            <option value="Any">Any</option>
            <option value="Owner">Owner</option>
            <option value="Dealer">Dealer</option>
            <option value="Builder">Builder</option>
        </select>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

{% endblock %}
