{% extends 'bbricks/base.html' %}

{% block sidebar %}
            <a class="nav-link" href="/bbricks/loggedin/">Cancel</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6 col-sm-6 col-lg-4">
    <form id="land_form" action="/bbricks/create_land/" method="post" enctype="multipart/form-data">{% csrf_token %}

        {% for hidden in landForm.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {{ landForm.as_ul }}

        {{ formset.management_form }}
        {% for form in formset %}
            {{ form }}
        {% endfor %}

        <input type="submit" value="Add Property" class="btn btn-primary"/>

    </form>
    </div>
</div>
{% endblock %}