{% extends 'bbricks/base.html' %}

{% block sidebar %}

        <a class="nav-link" href="/bbricks/create/">Add property</a>
        <a class="nav-link" href="/bbricks/buy/">Buy property</a>
        <a class="nav-link" href="/bbricks/editprofile/">Edit Profile</a>
        <a class="nav-link" href="/bbricks/logout/">Logout</a>

{% endblock %}

{% block content %}

    <h4>Hi {{ user.username }} you are now logged in!</h4>

    <p><img src="/static/assets/{{ user.userprofile.photo }}" width="200" /></p>
    <p>{{ user.first_name }} {{ user.last_name }}</p>

    {% if notifications.count > 0 %}
        <h3>Notifications</h3>
        {% for n in notifications %}
            <p><a href="/notification/show/{{ n.id }}">{{ n.title }}</a></p>
        {% endfor %}
    {% endif %}


    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h2 class="border-bottom border-gray pb-2 mb-0">Properties</h2>
 {% if properties.count > 0 %}
        {% for property in properties %}
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">

            <div>
                {% if property.type == 'Apartment' %}
                <h6><a href="/bbricks/get_apartment/{{ property.id }}/">{{ property.description }}</a></h6>
                {% endif %}
                {% if property.type == 'Independent House' %}
                <h6><a href="/bbricks/get_house/{{ property.id }}/">{{ property.description }}</a></h6>
                {% endif %}
                {% if property.type == 'Land' %}
                <h6><a href="/bbricks/get_land/{{ property.id }}/">{{ property.description }}</a></h6>
                {% endif %}
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <a href="/bbricks/profile/{{ user.username }}"><strong class="d-block text-gray-dark">@{{ user.username }}</strong></a>
                                {{ property.address|lower|truncatewords:"10" }}
                            </p>
                <p>Area: {{ property.area }} {{ property.units }}</p>
            </div>
        </div>
     {% endfor %}
    {% else %}
        <p>None to show!</p>
    {% endif %}

{% endblock %}