{% extends 'bbricks/base.html' %}

{% block sidebar %}
        <a class="nav-link" href="/bbricks/loggedin/">Your Profile</a>
{% endblock %}

{% block content %}
<div class="col-md-8">
    <h1>Owner: {{ property.seller.user.username }}</h1>
    <p>Address: {{ property.address }}</p>
    <p>Locality: {{ property.locality }}</p>
    <p>City: {{ property.city }}</p>
    <p>State: {{ property.state }}</p>
    <p>Price: {{ property.price }}</p>
    <p>Bedrooms: {{ property.bedrooms }}</p>
    <p>Description: {{ property.description }}</p>
    {% if property.images_set %}
        {% for image in property.images_set.all %}
            <p><img src="/static/assets/{{ image.image }}" width="200" /></p>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
