{% extends 'bbricks/base.html' %}

{% block sidebar %}

    <ul>
        <li><a href="/bbricks/all">Properties</a></li>
        <li><a href="/bbricks/create">Create Property</a></li>
    </ul>


{% endblock %}

{% block content %}

<!--    <h2>Language is: {{ language }}</h2>

    <h2>Session Language is: {{ session_language }}</h2>
-->

    {% if apartments.count > 0 %}
        <h1>Apartments</h1>
        {% for apartment in apartments %}
            <div>
                <h3><a href="/bbricks/get_apartment/{{ apartment.property.id }}/">{{ apartment.property.description }}</a></h3>
                <h4>{{ apartment.property.posted_by }}: {{ apartment.property.seller.user.username }}</h4>
                <p>Address: {{ apartment.property.address }}</p>
                <p>Locality: {{ apartment.property.locality }}</p><br>
            </div>
        {% endfor %}
    {% endif %}


    {% if houses.count > 0 %}
        <h1>Independent Houses</h1>
        {% for house in houses %}
            <div>
                <h3><a href="/bbricks/get_house/{{ house.property.id }}/">{{ house.property.description }}</a></h3>
                <h4>{{ house.property.posted_by }}: {{ house.property.seller.user.username }}</h4>
                <p>Address: {{ house.property.address }}</p>
                <p>Locality: {{ house.property.locality }}</p>
            </div>
        {% endfor %}
    {% endif %}


    {% if lands.count > 0 %}
        <h1>Lands</h1>
        {% for land in lands %}
            <div>
                <h3><a href="/bbricks/get_land/{{ land.property.id }}/">{{ land.property.description }}</a></h3>
                <h4>{{ land.property.posted_by }}: {{ land.property.seller.user.username }}</h4>
                <p>Address: {{ land.property.address }}</p>
                <p>Locality: {{ land.property.locality }}</p>
            </div>
        {% endfor %}
    {% endif %}


{% endblock %}
